body {
    background-color: 	#353935;
  }
  
  h1 {
    color: #4F7942;
    text-align: center;
    font-weight: 800;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  }

.button1 {background-color: burlywood;} /* Green */