body {
    background-color: green;
  }
  
  h1 {
    color: pink;
    text-align: center;
    font-weight: 800;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  }
  .button1 {background-color: #04AA6D;} /* Green */
  .button2 {background-color: red;} /* Blue */



